<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Customer"><i class="fa fa-circle-o"></i> Customer</a></li>
            <li><a href="#List/Supplier"><i class="fa fa-circle-o"></i> Supplier</a></li>
            <li>
            	<a href="#"><i class="fa fa-bar-chart"></i> Reports
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#sales-funnel"><i class="fa fa-circle-o"></i> Sales Funnel</a></li>
	                <li><a href="#query-report/Minutes to First Response for Opportunity"><i class="fa fa-circle-o"></i> Minutes to First Response</a></li>
	                <li><a href="#query-report/Lead Details"><i class="fa fa-circle-o"></i>  Lead Details </a></li>
	                <li><a href="#query-report/Customer Addresses And Contacts"><i class="fa fa-circle-o"></i> Addresses And Contacts </a></li>
	                <li><a href="#query-report/Inactive Customers"><i class="fa fa-circle-o"></i> Inactive Customers </a></li>	
	            </ul>
            </li>
            <li>
            	<a href="#"><i class="fa fa-cog"></i> Setup
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#List/Campaign"><i class="fa fa-circle-o"></i> Campaign</a></li>
	                <li><a href="#Tree/Customer Group"><i class="fa fa-circle-o"></i> Customer Group </a></li>
	                <li><a href="#Tree/Territory"><i class="fa fa-circle-o"></i> Territory</a></li>
	                <li><a href="#Tree/Sales Person"><i class="fa fa-circle-o"></i> Sales Person </a></li>
	            </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Quotation"><i class="fa fa-circle-o"></i>  Quotation</a></li>
            <li><a href="#List/Sales Order"><i class="fa fa-circle-o"></i> Sales Order</a></li>
            <li>
            	<a href="#"><i class="fa fa-bar-chart"></i> Reports
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#sales-analytics"><i class="fa fa-circle-o"></i> Sales Analytics</a></li>
	                <li><a href="#sales-funnel"><i class="fa fa-circle-o"></i> Sales Funnel</a></li>
	                <li><a href="#query-report/Customer Acquisition and Loyalty"><i class="fa fa-circle-o"></i> Acquisition and Loyalty</a></li>
	                <li><a href="#query-report/Quotation Trends"><i class="fa fa-circle-o"></i> Quotation Trends</a></li>
	                <li><a href="#query-report/Sales Order Trends"><i class="fa fa-circle-o"></i> Sales Order Trends</a></li>	
	            </ul>
            </li>
            <li>
            	<a href="#"><i class="fa fa-cog"></i> Setup
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#Form/Selling Settings"><i class="fa fa-circle-o"></i> Selling Settings </a></li>
	                <li><a href="#List/Campaign"><i class="fa fa-circle-o"></i>  Campaign</a></li>
	                <li><a href="#List/Terms and Conditions"><i class="fa fa-circle-o"></i>  Terms and Conditions</a></li>
	                <li><a href="#List/Sales Taxes and Charges Template"><i class="fa fa-circle-o"></i> Sales Taxes and Charges</a></li>
	                <li><a href="#List/Industry Type"><i class="fa fa-circle-o"></i> Industry Type</a></li>
	            </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>Purchasing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Supplier Quotation"><i class="fa fa-circle-o"></i> Supplier Quotation</a></li>
            <li><a href="#List/Purchase Order"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
            <li>
            	<a href="#"><i class="fa fa-bar-chart"></i> Reports
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#purchase-analytics"><i class="fa fa-circle-o"></i> Purchase Analytics </a></li>
	                <li><a href="#query-report/Supplier-Wise Sales Analytics"><i class="fa fa-circle-o"></i> Supplier-Wise Sales Analytics </a></li>
	                <li><a href="#query-report/Purchase Order Trends"><i class="fa fa-circle-o"></i> Purchase Order Trends </a></li>
	            </ul>
            </li>
            <li>
            	<a href="#"><i class="fa fa-cog"></i> Setup
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#Form/Buying Settings"><i class="fa fa-circle-o"></i> Buying Settings</a></li>
	                <li><a href="#List/Terms and Conditions"><i class="fa fa-circle-o"></i> Terms and Conditions</a></li>
	                <li><a href="#List/Purchase Taxes and Charges Template"><i class="fa fa-circle-o"></i> Taxes and Charges</a></li>
	            </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Stock</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Item"><i class="fa fa-circle-o"></i> Item</a></li>
            <li><a href="#List/Stock Entry"><i class="fa fa-circle-o"></i> Stock Entry</a></li>
            <li><a href="#List/Delivery Note"><i class="fa fa-circle-o"></i> Delivery Note </a></li>
            <li><a href="#List/Purchase Receipt"><i class="fa fa-circle-o"></i> Purchase Receipt</a></li>
            <li><a href="#List/Material Request"><i class="fa fa-circle-o"></i> Material Request</a></li>
            <li>
            	<a href="#"><i class="fa fa-bar-chart"></i> Reports
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#query-report/Stock Ledger"><i class="fa fa-circle-o"></i> Stock Ledger </a></li>
	                <li><a href="#query-report/Stock Balance"><i class="fa fa-circle-o"></i> Stock Balance</a></li>
	                <li><a href="#query-report/Stock Projected Qty"><i class="fa fa-circle-o"></i> Purchase Order Trends </a></li>
	                <li><a href="#query-report/Stock Ageing"><i class="fa fa-circle-o"></i> Stock Ageing</a></li>
	            </ul>
            </li>
            <li>
            	<a href="#"><i class="fa fa-cog"></i> Setup
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#Form/Stock Settings"><i class="fa fa-circle-o"></i> Stock Settings</a></li>
	                <li><a href="#List/Warehouse"><i class="fa fa-circle-o"></i> Warehouse</a></li>
	                <li><a href="#List/UOM"><i class="fa fa-circle-o"></i> Unit of Measure</a></li>
	                <li><a href="#List/Item Attribute"><i class="fa fa-circle-o"></i> Item Attribute</a></li>
	                <li><a href="#List/Brand"><i class="fa fa-circle-o"></i> Brand</a></li>
	            </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Accounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Sales Invoice"><i class="fa fa-circle-o"></i> Sales Invoice</a></li>
            <li><a href="#List/Purchase Invoice"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
            <li><a href="#List/Payment Request "><i class="fa fa-circle-o"></i> Payment Request</a></li>
            <li><a href="#List/Payment Entry"><i class="fa fa-circle-o"></i> Payment Entry</a></li>
            <li><a href="#query-report/Accounts Receivable"><i class="fa fa-circle-o"></i> Accounts Receivable</a></li>
            <li><a href="#query-report/Accounts Payable"><i class="fa fa-circle-o"></i> Accounts Payable</a></li>
            <li>
            	<a href="#"><i class="fa fa-bar-chart"></i> Reports
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#query-report/Gross Profit"><i class="fa fa-circle-o"></i> Gross Profit</a></li>
	                <li><a href="#query-report/Purchase Invoice Trends"><i class="fa fa-circle-o"></i> Purchase Invoice Trends</a></li>
	                <li><a href="#query-report/Sales Invoice Trends"><i class="fa fa-circle-o"></i> Sales Invoice Trends</a></li>
	            </ul>
            </li>
            <li>
            	<a href="#"><i class="fa fa-cog"></i> Setup
            	<span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            	</a>
            	<ul class="treeview-menu">
	                <li><a href="#Form/Accounts Settings"><i class="fa fa-circle-o"></i> Accounts Settings</a></li>
	                <li><a href="#List/Fiscal Year"><i class="fa fa-circle-o"></i> Fiscal Year</a></li>
	                <li><a href="#List/Currency"><i class="fa fa-circle-o"></i> Currency</a></li>
	                <li><a href="#List/Currency Exchange"><i class="fa fa-circle-o"></i> Currency Exchange</a></li>
	                <li><a href="#List/Payment Gateway Account"><i class="fa fa-circle-o"></i> Payment Gateway Account</a></li>
	                <li><a href="#List/Terms and Conditions"><i class="fa fa-circle-o"></i> Terms and Conditions</a></li>
	                <li><a href="#List/Mode of Payment"><i class="fa fa-circle-o"></i> Mode of Payment</a></li>
	            </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#modules/Setup">
            <i class="fa fa-cog"></i> <span>Setup</span>
          </a>
        </li>
		</ul>
    </section>
    <!-- /.sidebar -->
  </aside>