<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Lead"><i class="fa fa-circle-o"></i> Lead</a></li>
            <li><a href="#List/Customer"><i class="fa fa-circle-o"></i> Customer</a></li>
            <li><a href="#List/Opportunity"><i class="fa fa-circle-o"></i> Opportunity</a></li>
            <li><a href="#List/Contact"><i class="fa fa-circle-o"></i> Contact</a></li>
            <li><a href="#List/Address"><i class="fa fa-circle-o"></i> Address</a></li>
            <li><a href="#modules/CRM"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>Sales</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Quotation"><i class="fa fa-circle-o"></i>  Quotation</a></li>
            <li><a href="#List/Sales Order"><i class="fa fa-circle-o"></i>  Sales Order</a></li>
            <li><a href="#modules/Selling"><i class="fa fa-circle-o"></i>  More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>Purchasing</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Material Request/List"><i class="fa fa-circle-o"></i> Material Request</a></li>
            <li><a href="#List/Purchase Order"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
            <li><a href="#List/Supplier"><i class="fa fa-circle-o"></i> Supplier</a></li>
            <li><a href="#modules/Buying"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Stock</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Item"><i class="fa fa-circle-o"></i> Item</a></li>
            <li><a href="#List/Serial No"><i class="fa fa-circle-o"></i> Serial No</a></li>
            <li><a href="#List/Delivery Note"><i class="fa fa-circle-o"></i> Delivery Note </a></li>
            <li><a href="#List/Purchase Receipt"><i class="fa fa-circle-o"></i> Purchase Receipt</a></li>
            <li><a href="#List/Stock Entry/List"><i class="fa fa-circle-o"></i> Stock Entry</a></li>
            <li><a href="#modules/Stock"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file-powerpoint-o"></i>
            <span>Projects</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Project/List"><i class="fa fa-circle-o"></i> Project</a></li>
            <li><a href="#List/Task/List"><i class="fa fa-circle-o"></i> Task</a></li>
            <li><a href="#modules/Projects"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-life-ring"></i>
            <span>Support</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Issue"><i class="fa fa-circle-o"></i> Issue</a></li>
            <li><a href="#List/Maintenance Visit/List"><i class="fa fa-circle-o"></i> Maintenance Visit</a></li>
            <li><a href="#List/Maintenance Schedule/List"><i class="fa fa-circle-o"></i> Maintenance Schedule</a></li>
            <li><a href="#List/Warranty Claim/List"><i class="fa fa-circle-o"></i> Warranty Claim</a></li>
            <li><a href="#modules/Support"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-male"></i>
            <span>Human Resources</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Leave Application/List"><i class="fa fa-circle-o"></i> Leave Application</a></li>
            <li><a href="#List/Timesheet"><i class="fa fa-circle-o"></i> Timesheet</a></li>
            <li><a href="#List/Appraisal"><i class="fa fa-circle-o"></i> Performance Appraisal</a></li>
            <li><a href="#List/Training Event"><i class="fa fa-circle-o"></i> Training Event</a></li>
            <li><a href="#modules/HR"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Accounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Sales Invoice"><i class="fa fa-circle-o"></i> Sales Invoice</a></li>
            <li><a href="#List/Purchase Invoice"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
            <li><a href="#List/Payment Entry"><i class="fa fa-circle-o"></i> Payment Entry</a></li>

            <li><a href="#query-report/Accounts Receivable"><i class="fa fa-circle-o"></i> Accounts Receivable</a></li>
            <li><a href="#query-report/Accounts Payable"><i class="fa fa-circle-o"></i> Accounts Payable</a></li>
            <li><a href="#query-report/Trial Balance"><i class="fa fa-circle-o"></i> Trial Balance</a></li>
            <li><a href="#query-report/Balance Sheet"><i class="fa fa-circle-o"></i> Balance Sheet</a></li>
            <li><a href="#query-report/Cash Flow"><i class="fa fa-circle-o"></i> Cash Flow</a></li>
            <li><a href="#query-report/Profit and Loss Statement"><i class="fa fa-circle-o"></i> Profit and Loss Statement</a></li>
            <li><a href="#modules/Accounts"><i class="fa fa-circle-o"></i> More...</a></li>
          </ul>
        </li>
        <li>
          <a href="#modules/Setup">
            <i class="fa fa-cog"></i> <span>Setup</span>
          </a>
        </li>
		</ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="overlay"><div>